[Desktop Entry]
BinaryPattern=kblackbox;
Protocols=
MimeType=
Comment=A little logical game
Comment[af]=A KLEIN LOGIESE SPELETJIE
Comment[az]=Kiçik bir məntiq oyunu
Comment[bg]=Малка логическа игра
Comment[br]=Ur c'hoari bihan a boell
Comment[bs]=Igra logike
Comment[ca]=Un petit joc de lògica
Comment[cs]=Malá logická hra
Comment[da]=Et lille logisk spil
Comment[de]=Ein kleines Logik-Spiel
Comment[el]=Ένα παιχνίδι λογικής
Comment[eo]=Malgranda logikludo
Comment[es]=Un pequeño juego de lógica
Comment[et]=Väike loogikamäng
Comment[eu]=Joko logiko txiki bat
Comment[fi]=Pieni logiikkapeli
Comment[fr]=Un petit jeu de logique
Comment[gl]=Un pequeno xogo de lóxica
Comment[he]=ןטק ןויגה קחשמ
Comment[hr]=Igra logike
Comment[hu]=Egy kis logikai játék
Comment[is]=kblackbox:  Rökfræðiþraut
Comment[it]=Un piccolo gioco di logica
Comment[ja]=思考型ゲーム
Comment[ko]=간단한 논리 놀이
Comment[lt]=Mažas loginis žaidimas
Comment[lv]=Maza loģiskā spēle
Comment[mi]=He takaro whakaaro iti
Comment[mk]=Мала логичка игричка
Comment[mt]=Logħba sempliċi tal-loġika
Comment[nl]=een spelletje gebaseerd op de logica
Comment[no]=Et lite logikkspill
Comment[no_NY]=Eit lite, logisk spel
Comment[oc]=Un petit jog de lògica
Comment[pl]=Prosta gra logiczna
Comment[pt_BR]=Um pequeno jogo de lógica
Comment[pt]=Um pequeno jogo de lógica
Comment[ru]=небольшая логическая игра
Comment[sk]=Malá logická hra
Comment[sl]=Mala logična igrica
Comment[sr]=Mala logička igra
Comment[sv]=Ett litet logiskt spel
Comment[ta]=´Õ º¢È¢Â §¿÷¨ÁÂ¡É Å¢¨ÇÂ¡ðÎ
Comment[tr]=Küçük bir mantık oyunu
Comment[uk]=Маленька логічна гра
Comment[vi]=Một trò chơi logic 
Comment[zh_CN.GB2312]=一个小逻辑游戏
Comment[zh_TW.Big5]=小型邏輯式遊戲
Exec=kblackbox %i %m -caption "%c"
Name=BlackBox
Name[af]=SWART BOKS
Name[az]=Qara Qutu
Name[bg]=Черна кутия
Name[br]=Boest du
Name[da]=Blackbox
Name[eo]=Nigra kesto
Name[es]=Caja negra
Name[eu]=Kaxa Beltza
Name[fr]=Boîte noire
Name[he]=הרוחש הספוק
Name[hu]=Fekete doboz
Name[is]=Svarti kassinn
Name[ja]=ブラックボックス
Name[ko]=검은 상자
Name[lt]=Juoda dėžė
Name[lv]=Melnā Kaste
Name[mi]=PouakaPango
Name[mk]=Црна кутија
Name[nl]=Blackbox
Name[no]=Hemmelighetens kasse
Name[pl]=Czarna skrzynka
Name[pt_BR]=Caixa Preta
Name[pt]=Caixa Preta
Name[ru]=Черный ящик
Name[sk]=Čierna skrinka
Name[sv]=Svarta lådan
Name[tr]=Kara Kutu
Name[uk]=Чорна скринька
TerminalOptions=
Icon=kblackbox
Comment=A little logical game
Comment[af]=A KLEIN LOGIESE SPELETJIE
Comment[az]=Kiçik bir məntiq oyunu
Comment[bg]=Малка логическа игра
Comment[br]=Ur c'hoari bihan a boell
Comment[bs]=Igra logike
Comment[ca]=Un petit joc de lògica
Comment[cs]=Malá logická hra
Comment[da]=Et lille logisk spil
Comment[de]=Ein kleines Logik-Spiel
Comment[el]=Ένα παιχνίδι λογικής
Comment[eo]=Malgranda logikludo
Comment[es]=Un pequeño juego de lógica
Comment[et]=Väike loogikamäng
Comment[eu]=Joko logiko txiki bat
Comment[fi]=Pieni logiikkapeli
Comment[fr]=Un petit jeu de logique
Comment[gl]=Un pequeno xogo de lóxica
Comment[he]=ןטק ןויגה קחשמ
Comment[hr]=Igra logike
Comment[hu]=Egy kis logikai játék
Comment[is]=kblackbox:  Rökfræðiþraut
Comment[it]=Un piccolo gioco di logica
Comment[ja]=思考型ゲーム
Comment[ko]=간단한 논리 놀이
Comment[lt]=Mažas loginis žaidimas
Comment[lv]=Maza loģiskā spēle
Comment[mi]=He takaro whakaaro iti
Comment[mk]=Мала логичка игричка
Comment[mt]=Logħba sempliċi tal-loġika
Comment[nl]=een spelletje gebaseerd op de logica
Comment[no]=Et lite logikkspill
Comment[no_NY]=Eit lite, logisk spel
Comment[oc]=Un petit jog de lògica
Comment[pl]=Prosta gra logiczna
Comment[pt_BR]=Um pequeno jogo de lógica
Comment[pt]=Um pequeno jogo de lógica
Comment[ru]=небольшая логическая игра
Comment[sk]=Malá logická hra
Comment[sl]=Mala logična igrica
Comment[sr]=Mala logička igra
Comment[sv]=Ett litet logiskt spel
Comment[ta]=´Õ º¢È¢Â §¿÷¨ÁÂ¡É Å¢¨ÇÂ¡ðÎ
Comment[tr]=Küçük bir mantık oyunu
Comment[uk]=Маленька логічна гра
Comment[vi]=Một trò chơi logic 
Comment[zh_CN.GB2312]=一个小逻辑游戏
Comment[zh_TW.Big5]=小型邏輯式遊戲
Path=
DocPath=kblackbox/index.html
Extensions=
Type=Application
Terminal=0
KDE-X-StartupNotify=true
