<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kblackbox" version="7">
	<MenuBar>
		<Menu name="game">
			<text>&amp;Game</text>
			<Action name="game_tutorial" />
			<Action name="game_sandbox" />
		</Menu>
		<Menu name="settings">
			<text>&amp;Settings</text>
			<Action name="game_difficulty" />
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar">
		<text>Main Toolbar</text>
		<Action name="game_new" />
		<Action name="game_difficulty" />
		<Action name="game_tutorial" />
		<Separator />
		<Action name="move_solve" />
	</ToolBar>
</gui>
