[Desktop Entry]
Encoding=UTF-8
GenericName=Blackbox Logic Game
GenericName[bg]=Логическа игра
GenericName[bn]=যুক্তির খেলা ব্ল্যাকবক্স
GenericName[ca]=Joc de lògica Blackbox
GenericName[cs]=Logická hra s černou skříňkou
GenericName[da]=Blackbox logikspil
GenericName[de]=Logikspiel
GenericName[es]=Juego de lógica Blackbox
GenericName[et]=Blackboxi loogikamäng
GenericName[fi]=Logiikkapeli
GenericName[fr]=Jeu de logique Blackbox
GenericName[he]=משחק לוגיקה
GenericName[hu]=Logikai
GenericName[is]=Blackbox kænskuleikur
GenericName[it]=Gioco di logica Blackbox
GenericName[nl]=Blackbox: Logisch spel
GenericName[pl]=Gra logiczna - Czarna skrzynka
GenericName[pt]=Jogo de Lógica Caixa Preta
GenericName[pt_BR]=Jogo lógico de Caixa Preta
GenericName[ru]=Логическая игра с чёрным ящиком
GenericName[sk]=Logická hra Blackbox
GenericName[sl]=Logična igra Blackbox
GenericName[sr]=Логичка игра црне кутије
GenericName[sr@Latn]=Logička igra crne kutije
GenericName[sv]=Svart låda logiskt spel
GenericName[uk]=Гра на логіку (чорний ящик)
Exec=kblackbox %i %m -caption "%c"
Name=KBlackBox
Name[af]=Kblackbox
Name[ar]=لعبة الصندوق الأسود (KBlackBox)
Name[bn]=কে-ব্ল্যাকবক্স
Name[eo]=Nigra kesto
Name[hi]=के-ब्लेकबॉक्स
Name[hu]=Fekete doboz
Name[is]=Svarti kassinn
Name[lv]=KMelnāKaste
Name[pl]=Czarna skrzynka
Name[pt_BR]=KCaixa Preta
Name[ru]=Чёрный ящик
Name[sv]=Kblackbox
Name[ta]=கேகருப்பு பெட்டி
Name[tg]=KҚуттии Сиёҳ
Name[th]=กล่องดำ - K
Name[tr]=Kara Kutu
Name[uk]=Чорна скринька
Name[zh_TW]=KBlackBox 黑盒子
Icon=kblackbox
Path=
DocPath=kblackbox/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
