[Desktop Entry]
BinaryPattern=kblackbox;
Protocols=
MimeType=
Comment=A little logical game
Comment[ca]=Un petit joc de lògica
Comment[cs]=Mala logicka hra
Comment[da]=Et lille logisk spil
Comment[de]=Ein kleines Logik-Spiel
Comment[es]=Un pequeño juego de lógica
Comment[fi]=Pieni logiikkapeli
Comment[fr]=kblackbox : Un petit jeu de logique
Comment[hr]=Igra logike
Comment[hu]=Egy kis logikai játék
Comment[is]=kblackbox:  Rökfræğişraut
Comment[it]=Un piccolo gioco di logica
Comment[no]=Et lite logikkspill
Comment[pl]=Prosta gra logiczna
Comment[pt]=Jogo lógico
Comment[pt_BR]=Um pequeno jogo de lógica
Comment[ro]=Un joc mic de jogicã
Comment[ru]=îÅÂÏÌØÛÁÑ ÌÏÇÉŞÅÓËÁÑ ÉÇÒÁ
Comment[sk]=Malá logická hra
Comment[sl]=Logièna igrica
Comment[sv]=Ett litet logiskt spel
Exec=kblackbox
Name=KBlackBox
Name[da]=KBlackbox
Name[es]=Caja negra
Name[fr]=BlackBox
Name[hu]=Fekete Doboz
Name[is]=Svarti kassinn
Name[no]=Hemmelighetens kasse
Name[pt]=Caixa Preta
Name[pt_BR]=Caixa Preta
Name[ro]=Cutia Neagrã
Name[ru]=şÅÒÎÙÊ ÑİÉË
Name[sv]=Svarta lådan
TerminalOptions=
Icon=kblackbox.xpm
Comment=A little logical game
Comment[ca]=Un petit joc de lògica
Comment[cs]=Mala logicka hra
Comment[da]=Et lille logisk spil
Comment[de]=Ein kleines Logik-Spiel
Comment[es]=Un pequeño juego de lógica
Comment[fi]=Pieni logiikkapeli
Comment[fr]=kblackbox : Un petit jeu de logique
Comment[hr]=Igra logike
Comment[hu]=Egy kis logikai játék
Comment[is]=kblackbox:  Rökfræğişraut
Comment[it]=Un piccolo gioco di logica
Comment[no]=Et lite logikkspill
Comment[pl]=Prosta gra logiczna
Comment[pt]=Jogo lógico
Comment[pt_BR]=Um pequeno jogo de lógica
Comment[ro]=Un joc mic de jogicã
Comment[ru]=îÅÂÏÌØÛÁÑ ÌÏÇÉŞÅÓËÁÑ ÉÇÒÁ
Comment[sk]=Malá logická hra
Comment[sl]=Logièna igrica
Comment[sv]=Ett litet logiskt spel
Path=
DocPath=kblackbox/index.html
Extensions=
Type=Application
Terminal=0
