<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kblackbox" version="14">
	<MenuBar>
		<Menu name="game">
			<Action name="game_tutorial" />
			<Action name="game_sandbox" />
		</Menu>
		<Menu name="move">
			<Action name="move_done" />
		</Menu>
	</MenuBar>
	<ToolBar name="mainToolBar">
		<Action name="game_new" />
		<Action name="game_tutorial" />
		<Separator />
		<Action name="game_pause" />
		<Action name="move_solve" />
	</ToolBar>
</gui>
